
body {
    background-color:darkslategray;
    
}

#hostMap {
    display:flex;
    
}


#map {
    margin:auto;
    height: 600px;
    width: 600px;
    
}

h1 {
    font-family: 'Jazz LET, fantasy'; 
    font-size: 4.5em;
    color: #a9dfd4;
    display: flex;
    justify-content: center;
    font-style: oblique;
    mix-blend-mode:luminosity; 
    text-shadow: 0px 0px 12px #a9dfd4;
}

.pitch {
  font-size: 18px;
  font-style: oblique;
}

p {
    display: flex;
    justify-content: center;
    font-family: 'URW Chancery L, cursive';
    color: #a9dfd4;   
}

#concept {
    color: #a9dfd4;
    backface-visibility: unset;
    text-shadow: 0px 0px 12px #a9dfd4;

}

.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 25px;
    font-family: 'Jazz LET, fantasy'; 
    display: flex;
    justify-content: center;
    font-style: oblique;
    mix-blend-mode:luminosity; 
    text-shadow: 0px 0px 12px #a9dfd4;
  }
  

  .active, .collapsible:hover {
    background-color: #ccc;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    
  }

  .library {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 150px;
    background-image: url('book icons/bookshelf.jpg');
    background-size:contain;

  }

/* styling for the books on the shelf */
  .book {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 150px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    
  }

  .book:hover {
    border: 1px solid #888;
    background-color: #ddd;
  }

  #GOAC {
    background-image: url('book icons/brownbook.jpg');
    background-size:cover;
  
  }
  

  #Verity {
    background-image: url('book icons/lightgreenbook.jpg');
    background-size:cover;
  }

  #WTCDS {
    background-image: url('book icons/yellowbook.jpg');
    background-size:cover;
  }

  #blank {
    background-image: url('book icons/wideblack.jpg');
    background-size:cover;
  }

  #blank2 {
    background-image: url('book icons/darkgreenbook.jpg');
    background-size:cover;
  }

  /* this is going to be the styling for the results */

  .results {
    color: #a9dfd4;
    backface-visibility: unset;
    text-shadow: 0px 0px 12px #a9dfd4;
  }